/** PRINCIPALES MEDIDAS MEDIA QUERY**/
 
/*<<<<<<<<<up to 375px>>>>>>>>>>>>>*/
@media screen and (max-width: 375px) {
#bar{
    display: block;
}

/*COVER*/
.cover-content h1{
    font-size: 2rem;
}


/*EVENTS*/
.carousel-inner{
    height: auto;
    padding: auto;
    align-content: center;
  }
  
    .carousel-item img{
      max-width: 100%;
      margin: auto;
      filter: brightness(0.85);
    }
  
    .carousel-item img.tall{
        max-width: 80%;
     }
  
     .carousel-caption p{
       padding: 0 2rem;
     }
  
     .carousel-control-next .chevy, .carousel-control-prev .chevy{
       background-color: transparent;
     }

/*JOBS*/
.card{
    width: 18rem;
    margin-bottom: 1.5rem ;
  }
  
    .card img {
      max-width: 16rem;
      padding:0.25rem 1.5rem;
      margin: auto;
      }
  
      .card-body{
          margin-top: 0;
          padding-top: 0;
      }
  
      .centrado{
          margin-top: 1.5rem;
          font-size: 0.75rem;
          font-weight: bold;
      }

/*BACK TO TOP BUTTON*/
.scrollTop{
    bottom: 70px;
}
}

/*<<<<<<<<<376px to 414px>>>>>>>>>>>>>*/
@media screen and (min-width: 376px) and (max-width: 414px) {
}
 
/*<<<<<<<<<415px-478px>>>>>>>>>*/
@media screen and (min-width: 415px) and (max-width: 478px) {
}
 
/*<<<<<<<<<479px-780px>>>>>>>>>*/
@media screen and (min-width: 479px) and (max-width: 780px) {
}
 
/*<<<<<<<<<781px-1000>>>>>>>>>*/
@media screen and (min-width: 781px) and (max-width: 900px) {
}
 
/*<<<<<<<<<901px - 950px>>>>>>>>>*/
@media screen and (min-width: 901px) and (max-width: 950px) {
}
 
/*<<<<<<<<<951px - 985px>>>>>>>>>*/
@media screen and (min-width: 951px) and (max-width: 985px) {
}
 
/*<<<<<<<<<986px - 1290px>>>>>>>>>*/
@media screen and (min-width: 986px) and (max-width: 1290px) {
}
 
/*<<<<<<<<<1290px - 1366px>>>>>>>>>*/
@media screen and (min-width: 1290px) and (max-width: 1366px) {
}
