*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;  
  }

  .cover{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center;
    transition: all .1s ease-in-out;
    background-image: url('../img/cover.jpg');
  }

    .cover-content{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color:rgba(0, 22, 40, .4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .cover-content h1,h3{
        overflow-y: hidden;
    }

.sector{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center;
    transition: all .1s ease-in-out;
    background-image: url('../img/cover.jpg');
    }